@font-face {
    font-family: f1;
    src: url(/BodoniFLF-Bold.ttf);
}
@font-face {
    font-family: f2;
    src: url(./Bristle\ Radiant\ DEMO\ VERSION.otf);
}
@font-face {
    font-family: f3;
    src: url(/Montserrat-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-image: url(https://media.istockphoto.com/id/1127542301/photo/robot-wireframe-jump-on-gradient-red-violet-background.jpg?s=2048x2048&w=is&k=20&c=Rwkc2p3HVP12UAi1Xt1bE93j1ogLPv1mhVIQQk7KXqY=);
    background-size: cover;
    background-position: center;
  
    
}
#t1{
    
    
    height: 100%;
    width: 600px;
    background-color: black;
    /* margin-left: 900px;
    margin-top: 200px;
    padding-top: 50px; */
    margin-left: 920px;
    padding-top: 238px;
    color: white;

    
    
}
h1{
    font-size: 80px;
    font-family: f1;
}
input{
    margin: 18px;
    padding: 10px 50px;
    background-color: transparent;
    font-size: large;
    border: 2px solid white;
}
input:hover{
    background-color: white;
    color: black;
    /* border-radius: 15px; */
    border: 2px solid black;

}
button{
    background-color: black;
    padding: 10px 52px;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    
}
:placeholder-shown{
    color:black;
}
button:hover{
    background-color: white;
    color: black;
    
}



